.common-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.common-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2.5px rgba(15, 15, 15, 0.19);
}

.muted-link {
  font-size: 11px;
  color: rgb(156, 155, 155);
  font-weight: 500;
  text-decoration: none;
}

.bold-link {
  font-size: 12px;
  color: rgb(36, 14, 121);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin: 0 4px;
}

.form-input {
  width: 100%;
  height: 42px;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.3);
  padding: 0 10px;
  border-bottom: 1.4px solid transparent;
  transition: all 200ms ease-in-out;
  font-size: 12px;
}

.form-input::placeholder {
  color: rgba(200, 200, 200, 1);
}

.form-input:not(:last-of-type) {
  border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid rgb(36, 14, 121);
}

.form-submit {
  width: 100%;
  padding: 11px 40%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  overflow: visible;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 240ms ease-in-out;
  background: rgb(36, 14, 121);
  background: linear-gradient(90deg, rgba(36, 14, 121, 1) 20%, rgba(95, 39, 192, 1) 100%);
}

.form-submit:hover {
  filter: brightness(1.5);
}