.form-container {
  width: 280px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: white;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.5);
  position: relative;
  overflow: hidden;
}

.form-top-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 5em;
}

.backdrop {
  width: 160%;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  transform: rotate(60deg);
  top: -290px;
  left: -70px;
  background-color: #1c1e21;
}

.form-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-header-message {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.24;
  color: white;
  z-index: 10;
  margin: 0;
}

.form-header-small-message {
  color: white;
  font-weight: 500;
  font-size: 11px;
  z-index: 10;
  margin: 0;
  margin-top: 7px;
}

.form-middle-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.8em;
}

.switch-form-link-container {
  display: flex;
  justify-content: row;
}