.chat-bubble-container-1 {
  display: flex;
  justify-content: flex-start;
}

.chat-bubble-container-2 {
  display: flex;
  justify-content: flex-end;
}

.chat-bubble-user-1 {
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 50%;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  color: whitesmoke;
  background-color: #2f3135;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  font-family: inherit;
  font-size: large;
  position: relative;
  /* These following two lines allow for text bubbles being received from contact you are speaking with hang left and only take up at most 50% of screen */
  /* margin-right: 50%;
  margin-left: 2%; */
  word-break: break-all;
}

.chat-bubble-user-2 {
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 50%;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  color: whitesmoke;
  background-color: #141517;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  font-family: inherit;
  font-size: large;
  position: relative;
}

.chat-bubble-admin-message {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  color: whitesmoke;
  background-color: rgb(36, 14, 121);
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  font-family: inherit;
  font-size: large;
  position: relative;
  /* Use margin-left auto and margin-right auto to position chat bubble in the middle. */
  margin-left: auto;
  margin-right: auto;
}

/* Possibly use box-shadow later to indicate newly sent message */
/* box-shadow: 5px 20px 10px rgba(95, 39, 192, 1); */