.chat-list-item-container {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(36, 14, 121);
  color: whitesmoke;
}

.chat-list-item-container:hover {
  background-color: rgba(95, 39, 192, 1);
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  transform: translateY(-7px);
  border-radius: 10px;
}

.chat-list-item-user-photo {
  height: 90%;
  padding-left: 0.8em;
}

.chat-list-item-conversation {
  display: flex;
  align-items: center;
  height: 100%;
  color: whitesmoke;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}

.chat-list-item-conversation:hover {
  color: whitesmoke;
}
