.chat-messages {
  height: 100%;
  background-color: #1c1e21;
  /* background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"); */
  overflow: scroll;
}