.chat-messages {
  height: 90%;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

/* This CSS sets the default column appearance to all Chat Message UL elements. */
/* .chat-messages-default {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* This CSS floats messages from one of your contacts to the left of the chat screen */
/* .chat-messages-from-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* This CSS aligns messages that were sent by you to the right side of the chat screen */
/* .chat-messages-sent-by-you {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */