.chat-input-container {
  position: absolute;
  bottom: 0;
  width: 75%;
}

.message-form {
  height: 100%;
  width: 100%;
}

.text-area {
  height: 100%;
  width: 100%;
  background-color: #ddd;
  color: #666;
  font-family: inherit;
  font-weight: 500;
  font-size: large;
  padding: 1em;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  line-height: 1.4;
  transition: all 0.2s;
  margin: 0;
}

.text-area:hover {
  cursor: pointer;
}

.text-area:focus {
  cursor: text;
  color: #333;
  border-color: #333;
}

.text-area::placeholder {
  font-family: 'Shrikhand', cursive;
}

.text-area-disabled {
  height: 15%;
  background-color: #ddd;
  color: #666;
  font-family: inherit;
  font-weight: 500;
  font-size: large;
  padding: 1em;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  line-height: 1.4;
}