.chat-bubble {
  margin: 1em;
  color: whitesmoke;
  background-color: rgba(95, 39, 192, 1);
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  font-family: inherit;
}