.about-container {
  top: 70px;
  width: 100%;
  height: 100%;
  background-color: #343434;
}

.about-section {
  /* width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; */
}

.page-title {
  font-family: 'Shrikhand', cursive;
  font-size: 5em;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  margin-bottom: 50px;
}

.about-us-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.alex-container {
  width: 400px;
}

.alex-header-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alex-header {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.alex-photo {
height: 400px;
width: 400px;
border-radius: 1em;

}

.alex-description {
  font-family: inherit;
  color: whitesmoke;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #2f3135;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

.jordan-container {
  width: 400px;
}

.jordan-header-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jordan-header {
  font-family: inherit;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

.jordan-photo {
height: 400px;
width: 400px;
border-radius: 1em;
}

.jordan-description {
  color: whitesmoke;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #2f3135;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}