.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  background-color: #1c1e21;
  border-bottom: solid #2f3135 1px;
}

.topbar-logo {
  font-family: 'Shrikhand', cursive;
  font-size: xx-large;
  color: whitesmoke;
  display: flex;
  padding-left: 20px;
  align-items: center;
  background-attachment: fixed;
  height: 100%;
  width: 25%;
  border-right: solid #2f3135 1px;
}

.charlaLogo {
  padding-left: 5px;
}

.chat-main-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 25%;
  border-right: solid #2f3135 1px;
}

.sidebar-profile {
  height: 5%;
  color: inherit;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: #1c1e21;
}

.chat-no-convo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: xx-large;
}