.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 25%;
}

.sidebar-logo {
  font-family: 'Shrikhand', cursive;
  font-size: xx-large;
  color: whitesmoke;
  background-color: rgb(36, 14, 121);
  background: linear-gradient(90deg, rgba(36, 14, 121, 1) 20%, rgba(95, 39, 192, 1) 100%);
  height: 10%;
}

.sidebar-search {
  background-color: magenta;
  height: 5%;
}

.sidebar-chats {
  background-color: green;
  height: 80%
}

.sidebar-profile {
  background-color: purple;
  height: 5%;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  background-color: red;
}

.chat-info {
  height: 10%;
  background-color: rgb(36, 14, 121);
  background: linear-gradient(90deg, rgba(95, 39, 192, 1) 100%, rgba(36, 14, 121, 1) 20%);
}

.chat-message {
  height: 80%;
  background-color: aqua;
}

.chat-input {
  height: 10%;
  background-color: bisque;
}