.home-container {
  top: 70px;
  width: 100vw;
  height: 100vh;
  background-color: #343434;
}

.home-section {
  width: 100%;
  height: 684px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-section-loggedIn {
  width: 100%;
  height: 684px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section-left {
  /* width: 100%; */
  height: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-section-right {
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section-brand-name {
  font-family: 'Shrikhand', cursive;
  color: whitesmoke;
  font-size: 50px;
}

.home-section-slogan {
  font-family: 'Poppins';
  color: whitesmoke;
  font-size: xx-large;
}

.home-image {
  height: 70%;
  width: 90%;
  /* margin: auto; */
}
