.chat-list-item-container {
  height: 11%;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(36, 14, 121);
  color: whitesmoke;
  margin-bottom: 0.5em;
}

.chat-list-item-container:hover {
  background-color: rgba(95, 39, 192, 1);
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  transform: translateY(-7px);
  border-radius: 10px;
}

/* Created a photo container with height, width and rounded corners. It acts as a frame for photo so that rounded corners look proper and not distorted  */
.chat-list-item-user-photo-container {
  width: 110px;
  height: 110px;
  background-color: white;
  margin-left: 1em;
  border-radius: 50%;
  overflow: hidden; /* This line is needed in order to prevent image size of image within DIV, in this case square corners, from being seen on top of rounded corners of the parent DIV*/
  min-width: 110px; /* This prevents piiture from shrinking on screen resizing*/
}
/* Ensure that photo is made to perfectly fit the parent div container  */
.chat-list-item-user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-list-item-conversation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  font-family: inherit;
  color: whitesmoke;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}

.chat-list-item-conversation p {
  font-size: medium;
}

.chat-list-item-container i {
  visibility: hidden;
  position: relative;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 3%;
}

.chat-list-item-container:hover i {
  visibility: visible;
  cursor: pointer;
  position: relative;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 3%;
}
