.sidebar-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: #ddd;
  height: 5%;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sidebar-search-container:hover input {
  width:100%;
}

.sidebar-search-container input {
  font-family: inherit;
  width: 0;
  outline: none;
  border: none;
  font-size: small;
  font-weight: 500;
  transition: 0.7s;
  background: transparent;
}

.sidebar-search-container i {
  color: rgb(36, 14, 121);
}

.sidebar-search-container:hover i {
  color: rgba(95, 39, 192, 1);
}